<!DOCTYPE html>
<html lang="en">

<head>
  {% include "head.njk" %}
  {% block head %}{% endblock %}
  <title>
    {% block title %}Form Example{% endblock %}
  </title>
</head>

<body class="dark:bg-gray-800">
  {% block content %}{% endblock %}

  {% include "devserver.njk" %}
</body>

</html>
